<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="quartzScheduler"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:config/quartz/quartz.properties" />
        <property name="jobFactory" ref="myJobFactory"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContext" />
        <property name="overwriteExistingJobs" value="true" />
        <property name="triggers">
            <list>
                <ref bean="trigger" />
            </list>
        </property>
    </bean>
    <!--任务-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.xfl.schedule.task.QuartzTestJobBean"/>
        <property name="durability" value="true" />
        <property name="requestsRecovery" value="true" />
    </bean>
    <!--触发器-->
    <bean id="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail" />
        <property name="cronExpression" value="0 0/5 * * * ?" />
    </bean>
    <bean id="myJobFactory" class="com.xfl.schedule.task.MyJobFactory"/>
</beans>